header {
text-align: center;
height: 60px;
}

#high-scores {
    width: 33.33%;
    float: right;
    text-align: center;
    border: solid;
    margin-top: 2%;
    padding-top: 25%;
}

#letters-guessed {
    width: 33.33%;
    float: left;
    text-align: center;
    border: solid;
    margin-top: 2%;
    padding-top: 25%;
}

#guess-form {
    width: 33.33%;
    margin: 0 auto;
    text-align: center;
    padding-top: 26%;
    padding-left: 1%;
    padding-right: 1%;
}